* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Merriweather', serif;
}

h1 {
    color: black;
}

body {
    font-family: 'Open Sans', sans-serif;
}

input, textarea {
    font-family: 'Dosis', sans-serif;
}

header {
    background-color: rgb(229, 224, 224);
    padding: 16px 0;
}

header nav li {
    display: inline;
    margin-left: 8px;
    font-size: 14px;
}

header nav li a {
    color:rgb(19, 18, 18);
    text-decoration: none;
}

header nav li a:hover {
    text-decoration: underline;
}

.container {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#about p {
    margin-left: 16px;
}

p, #about h2 {
    align-items: baseline;
}

#about h2 {
    margin-left: 50px;
}

section h2 {
    margin-bottom: 16px;
}

.selfie-inicial {
    width: 300px;
    height: auto;
    margin-top: 25px;
}

#edit-insta {
    height: 31px;
}

#edit-linkedin, #edit-github {
    height: 34px;
}

.social-links li {
    display: inline;
    margin-right: 30px;
}

.social-links li a {
    text-decoration: none;
}

.container-hobbies li img {
    max-width: 100px;
    height: auto;
}

.container-hobbies ul {
    list-style-type: none; /*retira os pontinhos padrão da lista não ordenada*/
    display: flex;
    justify-content: center;
}

.container-hobbies li {
    text-align: center;
    margin: 0 20px;
}

#hobbies h2 {
    margin-top: 16px;
}

.contact-methods input, .contact-methods button {
    display: block;
}

.contact-methods h2 {
    margin-top: 16px;
}

.social-links {
    text-align: right;
}

h4 {
    margin-bottom: 10px;
}

form input, form textarea, form button {
    margin-bottom: 7px;
    width: 200px;
    padding: 8px;
}

input:focus, textarea:focus {
    outline-color: rgb(229, 224, 224);
}

form textarea {
    resize: none;
}

form button {
    background-color: rgb(229, 224, 224);
    border: none;
    cursor: pointer;
    padding: 7px 0;
}